* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef2ff;
}

.container {
  display: flex;
  width: 650px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
}


.result {
  width: 50%;
  padding: 40px;
  text-align: center;
  color: white;
  background: linear-gradient(#6a5cff, #3b2fd8);
}

.circle {
  width: 150px;
  height: 150px;
  margin: 25px auto;
  border-radius: 50%;
  background: rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circle h1 {
  margin: 0;
  font-size: 50px;
}

.circle p {
  margin: 0;
  opacity: 0.7;
}


.summary {
  width: 50%;
  padding: 40px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-weight: bold;
}

.reaction { background: #ffecec; color: #d9534f; }
.memory   { background: #fff4e5; color: #f0ad4e; }
.verbal   { background: #e8f8f3; color: #20c997; }
.visual   { background: #eef0ff; color: #5b6ef5; }

button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 30px;
  background: #303b59;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #1f2937;
}